[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/vim-scripts/fugitive.vim
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/vim-scripts/surround.vim
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = git://github.com/vim-scripts/repeat.vim
[submodule "vim/bundle/NERDCommenter"]
	path = vim/bundle/NERDCommenter
	url = git://github.com/vim-scripts/The-NERD-Commenter
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = git://github.com/vim-scripts/abolish.vim
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip
[submodule "vim/bundle/speeddating"]
	path = vim/bundle/speeddating
	url = git://github.com/vim-scripts/speeddating.vim
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/vim-scripts/Syntastic.git
[submodule "vim/bundle/latex-box"]
	path = vim/bundle/latex-box
	url = git://github.com/vim-scripts/LaTeX-Box
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/vim-scripts/ctrlp.vim
[submodule "vim/bundle/swap-parameters"]
	path = vim/bundle/swap-parameters
	url = git://github.com/vim-scripts/swap-parameters/
[submodule "vim/bundle/camel-case-motion"]
	path = vim/bundle/camel-case-motion
	url = git://github.com/vim-scripts/camelcasemotion/
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/vim-scripts/Tabular
