[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/vim-scripts/fugitive.vim
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/vim-scripts/surround.vim
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = git://github.com/vim-scripts/repeat.vim
[submodule "vim/bundle/NERDCommenter"]
	path = vim/bundle/NERDCommenter
	url = git://github.com/vim-scripts/The-NERD-Commenter
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = git://github.com/vim-scripts/abolish.vim
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = git://github.com/vim-scripts/L9
[submodule "vim/bundle/fuzzyfinder"]
	path = vim/bundle/fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder
[submodule "vim/bundle/speeddating"]
	path = vim/bundle/speeddating
	url = git://github.com/vim-scripts/speeddating.vim
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic
