[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/vim-scripts/fugitive.vim
    ignore = dirty
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/vim-scripts/surround.vim
    ignore = dirty
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = git://github.com/vim-scripts/repeat.vim
    ignore = dirty
[submodule "vim/bundle/NERDCommenter"]
	path = vim/bundle/NERDCommenter
	url = git://github.com/vim-scripts/The-NERD-Commenter
    ignore = dirty
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = git://github.com/vim-scripts/abolish.vim
    ignore = dirty
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip
    ignore = dirty
[submodule "vim/bundle/speeddating"]
	path = vim/bundle/speeddating
	url = git://github.com/vim-scripts/speeddating.vim
    ignore = dirty
[submodule "vim/bundle/latex-box"]
	path = vim/bundle/latex-box
	url = git://github.com/LaTeX-Box-Team/LaTeX-Box/
    ignore = dirty
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/vim-scripts/ctrlp.vim
    ignore = dirty
[submodule "vim/bundle/swap-parameters"]
	path = vim/bundle/swap-parameters
	url = git://github.com/vim-scripts/swap-parameters/
    ignore = dirty
[submodule "vim/bundle/camel-case-motion"]
	path = vim/bundle/camel-case-motion
	url = git://github.com/vim-scripts/camelcasemotion/
    ignore = dirty
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/vim-scripts/Tabular
    ignore = dirty
[submodule "vim/bundle/let-modeline"]
	path = vim/bundle/let-modeline
	url = git://github.com/vim-scripts/let-modeline.vim
    ignore = dirty
[submodule "vim/bundle/alternate"]
	path = vim/bundle/alternate
	url = git://github.com/vim-scripts/a.vim
    ignore = dirty
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git://github.com/vim-scripts/UltiSnips.git
    ignore = dirty
[submodule "vim/bundle/vimux"]
	path = vim/bundle/vimux
	url = git://github.com/vim-scripts/vimux/
    ignore = dirty
[submodule "vim/bundle/local"]
	path = vim/bundle/local
	url = git://github.com/vim-scripts/localvimrc/
    ignore = dirty
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
    ignore = dirty
[submodule "vim/bundle/argumentative"]
	path = vim/bundle/argumentative
	url = git://github.com/vim-scripts/argumentative.vim
    ignore = dirty
