Config {
    font = "xft:Envy Code R:pixelsize=14",
    bgColor = "#000000",
    fgColor = "#DDDDDD",
    commands = [
        Run Uptime ["-w", "2", "-c", "0", "-t", "up:<days>:<hours>:<minutes>"] 10,
        Run Date "%A, %B %d, %Y: %H:%M" "date" 10,
        Run StdinReader
    ],
    template = "%StdinReader% }{ %uptime% | <fc=#6294CF>%date%</fc>"
}
