Config {
    font = "xft:Pragmata Pro:pixelsize=14",
    bgColor = "#000000",
    fgColor = "#DDDDDD",
    commands = [
        Run Date "%H:%M" "date" 600,
        Run BatteryP ["BAT0"] ["-t", "<acstatus>", "-S", "True", "-l", "red", "-n", "yellow", "-h", "green", "--", "-f", "ADP0/online", "-o", "-<left>", "-O", "+<left>"] 600,
        Run Volume "default" "Master" ["-t", "<status> <volume>", "-S", "True", "-l", "red", "-n", "yellow", "-h", "green", "--", "-o", "[off]", "-O", "[on]"] 10,
        Run StdinReader
    ],
    template = "%StdinReader% }{ %default:Master% | %battery% | <fc=#6294CF>%date%</fc>"
}
