Config {
    font = "xft:Iosevka Term:pixelsize=20",
    bgColor = "#000000",
    fgColor = "#DDDDDD",
    alpha = 200,
    commands = [
        Run BatteryP ["BAT0"] ["-t", "<acstatus>", "-S", "True", "-l", "red", "-n", "yellow", "-h", "green", "--", "-f", "ADP0/online", "-o", "-<left>", "-O", "+<left>"] 600,
        Run Date "%H:%M" "date" 600,
        Run StdinReader
    ],
    template = "%StdinReader% }{ %battery% | %date%"
}
