default_mode "locked"
default_layout "compact"

keybinds {
  locked clear-defaults=true {
    bind "Ctrl Space" { SwitchToMode "Normal"; }
  }

  shared_except "locked" {
    bind "Enter" "Esc" { SwitchToMode "Locked"; }
  }

  normal clear-defaults=true {
    bind "Esc" { SwitchToMode "Locked"; }
    bind "v" { NewPane "Right"; SwitchToMode "Locked"; }
    bind "s" { NewPane "Down"; SwitchToMode "Locked"; }
    bind "x" { CloseFocus; SwitchToMode "Locked"; }
    bind "c" { NewTab; SwitchToMode "Locked"; }
    bind "r" { SwitchToMode "Resize"; }
    bind "f" { Run "zellij" "run" "-f" "--" "zsh" { close_on_exit true; }; }
    bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }

    bind "n" { MoveFocus "Left"; SwitchToMode "Locked"; }
    bind "e" { MoveFocus "Down"; SwitchToMode "Locked"; }
    bind "i" { MoveFocus "Up"; SwitchToMode "Locked"; }
    bind "o" { MoveFocus "Right"; SwitchToMode "Locked"; }

    bind "z" { ToggleFocusFullscreen; SwitchToMode "Locked"; }

    bind "d" { Detach; }
    bind "[" { SwitchToMode "Scroll"; }

    bind "1" { GoToTab 1; SwitchToMode "Locked"; }
    bind "2" { GoToTab 2; SwitchToMode "Locked"; }
    bind "3" { GoToTab 3; SwitchToMode "Locked"; }
    bind "4" { GoToTab 4; SwitchToMode "Locked"; }
    bind "5" { GoToTab 5; SwitchToMode "Locked"; }
    bind "6" { GoToTab 6; SwitchToMode "Locked"; }
    bind "7" { GoToTab 7; SwitchToMode "Locked"; }
    bind "8" { GoToTab 8; SwitchToMode "Locked"; }
    bind "9" { GoToTab 9; SwitchToMode "Locked"; }
  }

  entersearch {
    bind "Enter" { SwitchToMode "Search"; }
  }

  search clear-defaults=true {
    bind "i" { Search "Up"; }
    bind "e" { Search "Down"; }
    bind "c" { SearchToggleOption "CaseSensitivity"; }
    bind "w" { SearchToggleOption "WholeWord"; }
    bind "r" { SearchToggleOption "Wrap"; }
    bind "Esc" { SwitchToMode "Locked"; }
    bind "q" { SwitchToMode "Locked"; }
  }

  resize clear-defaults=true {
    bind "n" "Left" { Resize "Increase Left"; SwitchToMode "Locked"; }
    bind "e" "Down" { Resize "Increase Down"; SwitchToMode "Locked"; }
    bind "i" "Up" { Resize "Increase Up"; SwitchToMode "Locked"; }
    bind "o" "Right" { Resize "Increase Right"; SwitchToMode "Locked"; }
  }

  scroll clear-defaults=true {
    bind "q" { SwitchToMode "Locked"; }
    bind "e" { ScrollDown; }
    bind "i" { ScrollUp; }
    bind "E" { PageScrollDown; }
    bind "I" { PageScrollUp; }
    bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
    bind "H" { EditScrollback; SwitchToMode "Locked"; }

    bind "Esc" { SwitchToMode "Locked"; }
  }
}